@use '../../../assets/styles/_colors.scss' as c;

.app-header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: transparent;
}

.navbar {
    width: 80%;
    max-width: 2400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 3rem;
    padding: 1rem 2rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-link {
    color: c.$snow-white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1);
    
    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    &.active {
        background-color: c.$secondary-dark;
        
        &:hover {
            background-color: lighten(c.$secondary-dark, 10%);
        }
    }
}

:host ::ng-deep {
    p-toolbar { // Tag element
        width: 80%;
        
        .p-toolbar {
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            border-radius: 3rem;
            padding: 1rem 10rem 1rem 1.5rem;
            width: 100%;
            max-width: 2400px;


            .p-button.p-button-text {
                color: c.$snow-white;
                font-weight: bold;
            }
        }

    }
}