// src/styles.scss
@use "./assets/styles/_colors.scss" as c;
@use "./assets/styles/_typography.scss" as t;

@import './assets/styles/reset.css';

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: t.$font-family-primary;
  font-size: t.$font-size-base;
  font-weight: t.$font-weight-regular;
  line-height: t.$line-height-base;
  letter-spacing: t.$letter-spacing-normal;  
  
  &::before {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: t.$font-family-secondary;
  font-weight: t.$font-weight-bold;
  line-height: t.$line-height-heading;
  letter-spacing: t.$letter-spacing-wide;
  margin-top: 0;
}

p {
  font-family: t.$font-family-primary;
  font-size: t.$font-size-base;
  font-weight: t.$font-weight-regular;
  line-height: t.$line-height-base;
  letter-spacing: t.$letter-spacing-normal;
  margin-top: 0;
  margin-bottom: 1em;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

