// src/styles.scss
@use "./assets/styles/_colors.scss" as c;
@use "./assets/styles/_typography.scss" as t;

@import './assets/styles/reset.css';

body {
  background-color: c.$primary-dark;
  font-family: t.$font-family-primary;
  font-size: t.$font-size-base;
  font-weight: t.$font-weight-regular;
  line-height: t.$line-height-base;
  letter-spacing: t.$letter-spacing-normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: t.$font-family-secondary;
  font-weight: t.$font-weight-bold;
  line-height: t.$line-height-heading;
  letter-spacing: t.$letter-spacing-wide;
  margin-top: 0;
}

p {
  font-family: t.$font-family-primary;
  font-size: t.$font-size-base;
  font-weight: t.$font-weight-regular;
  line-height: t.$line-height-base;
  letter-spacing: t.$letter-spacing-normal;
  margin-top: 0;
  margin-bottom: 1em;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}