// Dark Colors
$primary-dark: #0D1B2A;
$secondary-dark: #1B263B !default;

// Neutral Colors
$neutral: #415A77 !default;

// Light Colors
$primary-light: #E0E1DD !default;
$secondary-light: #778DA9 !default;

$black: #323237;
$dark-gray: #424146;